<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/da1eea45-0172-4348-a119-2105234140a9/resourceGroups/T120B516-DP-2018/providers/Microsoft.Web/sites/GameServer</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://gameserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gameserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GameServer</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GameServer</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>